{:deps
 {org.clojure/clojure       {:mvn/version "1.12.0"}
  rum/rum                   {:mvn/version "0.12.11"}
  datascript/datascript     {:mvn/version "1.7.8"}

  ;; Authorization
  eacl/eacl                 {:git/url "https://github.com/theronic/eacl.git"
                             :git/sha "c6b94ad1e54fc87cc4058394deedd8140dfff22d"
                             :deps/root "modules/eacl"}
  eacl/eacl-datascript      {:git/url "https://github.com/theronic/eacl.git"
                             :git/sha "c6b94ad1e54fc87cc4058394deedd8140dfff22d"
                             :deps/root "modules/eacl-datascript"}} 

 :paths ["src" "resources"]

 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps  {nrepl/nrepl          {:mvn/version "1.3.0"}
                 thheller/shadow-cljs {:mvn/version "3.2.1"}}}

  :test
  {:extra-paths ["test"]}

  :nrepl
  {:extra-paths ["test"]
   :extra-deps  {nrepl/nrepl {:mvn/version "1.3.0"}}
   :main-opts   ["-m" "nrepl.cmdline"]}}

 :mvn/repos
 {"clojars" {:url "https://repo.clojars.org/"
             :snapshots {:enabled true :update :always}}}}
